<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Hello World, I am Aditya Bansal</h2>
                <p>Working as an Assistant Consultant at Software AG Bangalore, I am passionate about Software Architecture and Infrastructure. I love creating systems and designing data pipelines. I spend my free time travelling, cooking, exploring new things and solving problems in hand.</p>
                <a href="#" class="btnD1">Read More</a>
            </div>
        </div>
    </div>
</section>