<section class="top-banner-section">
    <div class="banner-image-div">
        <img src="https://source.unsplash.com/random/1600x900" alt="This is a banner image" class="banner-image">
    </div>

    <!--    Gradient Section-->
    <div class="banner-overlay-div">
    </div>

    <div class="banner-text-div">
        <span class="banner-text">
            <p class="banner-h1-text">Hello World, I am Aditya Bansal</p>
            <p class="banner-body-text">I am a software developer and a progressive learner</p>
            <p class="banner-btn">
                <a href="#" class="banner-btn-item">Get Started &#8594;</a>
            </p>
        </span>
    </div>
</section>