<header>
    <nav>
        <div id="navbar">
            <div id="logo">
                <div class="logo">.Com <span>Engineer</span></div>
            </div>
            <div id="links">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
            </div>
            <div class="mobile-btn">
                <a id="menu-btn" class="fa fa-bars fa-2x"></a>
            </div>
        </div>
    </nav>
    <div id="mobile-menu" class="mobile-menu" style="display: none">
        <ul class="mobile-links">
            <li class="nav-list"><a href="#">Home</a></li>
            <li class="nav-list"><a href="#">About</a></li>
            <li class="nav-list"><a href="#">Services</a></li>
            <li class="nav-list"><a href="#">Contact</a></li>
        </ul>
    </div>
</header>