<!--Semantic UI also has animate buttons with awesome effect-->
<button class="ui button">Read More</button>
<button class="ui primary button">Read More</button>
<button class="ui secondary button">Read More</button>
<button class="ui positive button">Read More</button>
<button class="ui negative button">Read More</button>
<br><br>
<button class="ui basic button">Read More</button>
<button class="ui basic primary button">Read More</button>
<button class="ui basic secondary button">Read More</button>
<button class="ui basic positive button">Read More</button>
<button class="ui basic negative button">Read More</button>
<br><br>
<button class="ui red button">Read More</button>
<button class="ui blue button">Read More</button>
<button class="ui green button">Read More</button>
<button class="ui purple button">Read More</button>
<button class="ui yellow button">Read More</button>
<button class="ui brown button">Read More</button>
<button class="ui orange button">Read More</button>
<button class="ui olive button">Read More</button>
<button class="ui teal button">Read More</button>
<button class="ui violet button">Read More</button>
<button class="ui grey button">Read More</button>
<br><br>
<button class="ui disabled red button">Read More</button>
<button class="ui loading blue button">Read More</button>
<button class="ui green button">Read More</button>
<button class="ui massive purple button">Read More</button>
<button class="ui huge yellow button">Read More</button>
<button class="ui big brown button">Read More</button>
<button class="ui large orange button">Read More</button>
<button class="ui medium olive button">Read More</button>
<button class="ui small teal button">Read More</button>
<button class="ui tiny violet button">Read More</button>
<button class="ui mini grey button">Read More</button>
<br><br>
<button class="ui button">
    <i class="cloud icon"></i> Cloud
</button>
<button class="ui labeled icon button">
    <i class="pause icon"></i> Pause
</button>
<br><br>
<button class="ui basic fluid button">Read More</button>
