<div class="ui card">
    <div class="content">
        <div class="header">
            Content Block
        </div>
        <div class="meta">
            Meta Info
        </div>
    </div>
    <div class="content">
        <p>This is my content</p>
    </div>
    <div class="content extra">
        <button class="ui button">Read More</button>
    </div>
</div>
