<br>
<div class="ui grid">
    <div class="row">
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
        <div class="column">
            <button class="ui huge button"></button>
        </div>
    </div>
    <div class="row">
        <div class="column four wide">
            <button class="ui huge button fluid"></button>
        </div>
        <div class="column four wide">
            <button class="ui huge button fluid"></button>
        </div>
        <div class="column four wide">
            <button class="ui huge button fluid"></button>
        </div>
        <div class="column four wide">
            <button class="ui huge button fluid"></button>
        </div>
    </div>
    <div class="row">
        <div class="column four wide">
            <button class="ui huge button fluid"></button>
        </div>
        <div class="column eight wide">
            <button class="ui huge button fluid"></button>
        </div>
        <div class="column four wide">
            <button class="ui huge button fluid"></button>
        </div>
    </div>
    <div class="column four row">
        <div class="left floated column">
            <button class="ui huge button fluid"></button>
        </div>
        <div class="right floated column">
            <button class="ui huge button fluid"></button>
        </div>
    </div>
</div>
<br>