<br>
<div class="ui label">
    <i class="mail icon"></i> 23
</div>
<br><br>
<div class="inline field">
    <input type="text">
    <div class="ui left pointing label">
        That username is taken
    </div>
</div>
<br>