<div class="ui message">
    <div class="header">
        Some Message
    </div>
    <p>This is a message</p>
</div>
<div class="ui success message">
    <div class="header">
        Some Message
    </div>
    <p>This is a message</p>
</div>
<div class="ui error message">
    <div class="header">
        Some Message
    </div>
    <p>This is a message</p>
</div>
<div class="ui purple message">
    <div class="header">
        Some Message
    </div>
    <p>This is a message</p>
</div>