<div class="ui segment">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ea fuga id ipsa laboriosam officia optio rem repellendus. Aliquid atque consectetur libero minima minus officia quis quisquam ut veritatis voluptates.</p>
</div>
<div class="ui raised segment">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ea fuga id ipsa laboriosam officia optio rem repellendus. Aliquid atque consectetur libero minima minus officia quis quisquam ut veritatis voluptates.</p>
</div>
<div class="ui stacked segment">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ea fuga id ipsa laboriosam officia optio rem repellendus. Aliquid atque consectetur libero minima minus officia quis quisquam ut veritatis voluptates.</p>
</div>
<div class="ui piled segment">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ea fuga id ipsa laboriosam officia optio rem repellendus. Aliquid atque consectetur libero minima minus officia quis quisquam ut veritatis voluptates.</p>
</div>
<div class="ui segments">
    <div class="ui segment">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ea fuga id ipsa laboriosam officia optio rem repellendus. Aliquid atque consectetur libero minima minus officia quis quisquam ut veritatis voluptates.</p>
    </div>
    <div class="ui red inverted segment">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ea fuga id ipsa laboriosam officia optio rem repellendus. Aliquid atque consectetur libero minima minus officia quis quisquam ut veritatis voluptates.</p>
    </div>
    <div class="ui green inverted segment">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ea fuga id ipsa laboriosam officia optio rem repellendus. Aliquid atque consectetur libero minima minus officia quis quisquam ut veritatis voluptates.</p>
    </div>
</div>