.basic-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 100px;
}

.card{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

/*Action for mobile screen sizes*/
@media screen and (max-width: 600px) {
    .basic-grid{
        grid-auto-flow: row;
    }
}

/*action for higher screen sizes*/
@media screen and (min-width: 600px) {
    .card-tall{
        grid-row: span 2/auto; /*Span spans number of specified rows/columns where explicitly specifying start position and end requires doing it for each element one by one*/
    }

    .card-wide{
        grid-column: span 2/auto;
    }
}