#navbar{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    min-height: 100px;
    background-color: var(--greyapple);
    padding: 0 40px;
}

#logo{
    display: grid;
    justify-content: start;
    align-content: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--darkmatter);
}

.logo span{
    color: var(--darkermatter);
}

#links{
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
    align-content: center;
    grid-gap: 1.5em;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: var(--greenapple);
}

/*Tablet to Desktop*/
@media (min-width: 768px) {
    .mobile-menu,
    .mobile-btn,
    .nav-list{
        display: none;
    }
}

/*Mobile to Tablet*/
@media (min-width: 320px) and (max-width: 767px) {
    #links{
        display: none;
    }

    .mobile-btn{
        display: grid;
        grid-auto-flow: column;
        justify-content: right;
        align-content: center;
        cursor: pointer;
    }

    .mobile-menu{
        display: none;
        background-color: var(--greyapple);
        float: right;
        width: 150px;
        padding: 5px 0 5px 0;
    }

    .mobile-links li {
        line-height: 2.8rem;
    }

    .nav-list{
        list-style: none;
    }

    .nav-list:hover{
        opacity: 0.5;
        cursor: pointer;
    }
}