@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

nav{
    display: grid;
    grid-auto-flow: column;
    min-height: 50px;
    width: 100%;
    grid-gap: 40px;
    align-items: center;
    justify-content: end;
    background-color: var(--greyapple);
    padding-right: 10%;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: var(--greenapple);
    cursor: pointer;
    transform: translateY(2px);
}

@media (max-width: 760px) {
    nav{
        grid-auto-flow: row;
        grid-gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
}