@charset "UTF-8";
@import url(_font.css);
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap');

:root{
    --greyapple: #ecf0f1;
    --greenapple: #2ecc71;
    --darkmatter: #34495e;
    --darkermatter: #2c3e50;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    /*font-family: 'Roboto', cursive;*/
    font-family: "IBM Plex Sans", Verdana, Geneva, Tahoma, sans-serif;
}

