<div class="ui container">
    {{> reference/semantic/headings}}
    <hr>
    {{> reference/semantic/buttons}}
    <hr>
    {{> reference/semantic/icons}}
    <hr>
    {{> reference/semantic/labels}}
    <hr>
    {{> reference/semantic/breadcrumbs}}
    <hr>
    {{> reference/semantic/lists}}
    <hr>
    {{> reference/semantic/forms}}
    <hr>
    {{> reference/semantic/message}}
    <hr>
    {{> reference/semantic/tablesAndPagination}}
    <hr>
    {{> reference/semantic/segments}}
    <hr>
    {{> reference/semantic/steps}}
    <hr>
    {{> reference/semantic/cards}}
    <hr>
    {{> reference/semantic/items}}
    <hr>
    {{> reference/semantic/statistic}}
    <hr>
    {{> reference/semantic/grid}}
    <hr>
</div>